body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  flex-direction: column;
  min-height: 95vh;
}

footer {
  text-align: right;
  color: midnightblue;
} 

.tile-image{
  display: block;
  width: 20rem;
  float: left;
}

.main{
  display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 200px 500px;
      gap: 25px;
  
}

.logo, h1{
  grid-column: span 2;
  margin: 0;
  padding: 0;
}

h1{
  width: 35rem;
  font-size: 3rem;
}

span{
  color: blue;
}

@media (max-width: 896px){
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
  }
  .main {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  
  h1 {
    min-height: 50px;
    width: 20rem;
    text-align: center;
    font-size: 2.5rem;
    flex: 1;
  }

  .card{
    min-height: 50px;
    flex: 1;
  }
}