body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.maingrid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.navbar{
    position: sticky;
    top: 0;
}

footer{
    position: sticky;
    bottom: 0;
}

.navbar, footer {
    background-color: #164863;
    color: #DDF2FD;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav, footer {
    display: flex;
    align-items: center;
    padding-left: 18rem;
}

nav a {
    color: #DDF2FD;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    color: #427D9D;
}

.navbar div, footer div {
    margin-right: 18rem;
}

footer img{
    height: 25px;
    margin-left: 10px;
}

nav img{
    height: 30px;
}

@media screen and (max-width: 600px) {
    nav {
        align-items: center;
        margin-left: 1rem;
    }
    .navbar div {
        display: none;
    }
}